torch == 2.5.1
openvino == 2024.6.0
optimum == 1.23.3
optimum-intel == 1.21.0
transformers == 4.46.3
langchain == 0.3.15
langchain-community == 0.3.15
langchain-experimental == 0.3.4
langchain-huggingface == 0.1.2
PyPDF2 == 3.0.1
mysql-connector-python == 8.1.0
nncf == 2.14.1